@import "../../style.less";
@import "../../utils.less";

.grid {
    &--scrollable {
        // Flexbox is used to limit the scroll container's height (height: 100% doesn't work when
        // the parent's height isn't fixed)
        display: inline-flex;
        flex-direction: column;
        vertical-align: top;
        position: relative;
    }

    &__scroll-container {
        overflow: auto;

        &--touch-input {
            touch-action: none;
        }
    }

    &__table {
        .no-user-select();

        border-collapse: collapse;
        .theme-color(background-color, grid-bg-color, ~".grid-dark-enabled");
    }

    &__scroll-shadows {
        z-index: 1;
    }

    &__selection {
        position: absolute;
        z-index: 2;
        display: none;
        transition: top 0.05s ease-out, left 0.05s ease-out;
        pointer-events: none;

        &--active {
            display: block;
        }

        &__shadow {
            position: absolute;
            top: -@grid-selection-extra-border-width;
            left: -@grid-selection-extra-border-width;
            width: (@cell-size - @cell-border-width);
            height: (@cell-size - @cell-border-width);
            border: (@cell-border-width + @grid-selection-extra-border-width)
                solid @grid-selection-color;
            box-shadow: 0 0 (@cell-border-width * 4) @grid-selection-color inset;
        }
    }
}
