@import "../../../style.less";
@import "../../../utils.less";

.button-inner-colors(@color, @bg-color, @hover-bg-color) {
    .theme-color(color, @color);
    .theme-color(background-color, @bg-color);

    &:disabled {
        .theme-color(color, button-disabled-color);
    }

    &:not(:disabled) {
        &:hover,
        &:focus {
            .theme-color(background-color, @hover-bg-color);
        }
    }
}

.button {
    .no-user-select();
    border-radius: @button-border-radius;
    height: @button-height;
    padding: 0 (0.5 * @button-height);
    transition: background-color 0.1s linear;
    .button-inner-colors(button-color, button-bg-color, button-hover-bg-color);

    &:not(:disabled) {
        cursor: pointer;

        &:hover,
        &:focus {
            outline: none;
        }
    }

    &--destructive {
        .button-inner-colors(
            button-destructive-color,
            button-destructive-bg-color,
            button-destructive-hover-bg-color
        );
    }

    &__icon--has-label {
        margin-right: (0.2 * @button-height);
    }

    &__title {
        font-size: 0.6em;
        opacity: 0.8;
        margin-top: -0.2em;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
