@import "../../../style.less";
@import "../../../utils.less";

.button-outer() {
    .no-user-select();
    border-radius: @button-border-radius;
}

.button-inner-colors(@color, @bg-color, @hover-bg-color) {
    .theme-color(color, @color);
    .theme-color(background-color, @bg-color);

    &:disabled {
        .theme-color(color, button-disabled-color);
    }

    &:not(:disabled) {
        &:hover,
        &:focus {
            .theme-color(background-color, @hover-bg-color);
        }
    }
}

.button-inner(
    @color: button-color,
    @bg-color: button-bg-color,
    @hover-bg-color: button-hover-bg-color
) {
    .button-inner-colors(@color, @bg-color, @hover-bg-color);

    padding: 0 (0.5 * @button-height);
    transition: background-color 0.1s linear;

    &:not(:disabled) {
        cursor: pointer;

        &:hover,
        &:focus {
            outline: none;
        }
    }

    &__title {
        display: block;
        font-size: 0.6em;
        opacity: 0.8;
        margin-top: -0.2em;
    }
}

.button {
    .button-outer();
    .button-inner();
    height: @button-height;

    &--destructive {
        .button-inner-colors(
            button-destructive-color,
            button-destructive-bg-color,
            button-destructive-hover-bg-color
        );
    }
}
