.slide-enter {
    opacity: 0;
    transform: translateY(-2em);
}

.slide-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.slide-exit {
    opacity: 1;
    transform: translateY(0);
}

.slide-exit-active {
    opacity: 0;
    transform: translateY(2em);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
