@bg-color-light: white;
@bg-color-dark: black;
@text-color-light: black;
@text-color-dark: white;

// Grid

@grid-bg-color-light: white;
@grid-bg-color-dark: #303030;

@grid-selection-color: #87ceeb;
@grid-selection-extra-border-width: @cell-border-width * 2;

@cell-size: 2em;
@cell-border-width: 0.1em;
@cell-border-color: #808080;

@mark-border-radius: (@cell-size / 16);
@mark-color-light: #404040;
@mark-color-dark: #a0a0a0;
@mark-size: 90%;

@cross-color-light: #ffa500;
@cross-color-dark: #ffa500;
@cross-size: 80%;

// Numbers

@numbers-color-light: black;
@numbers-color-dark: white;
@numbers-error-color-light: #ff0000;
@numbers-error-color-dark: #ff4040;
@numbers-hint-color-light: #00d0ff;
@numbers-hint-color-dark: #84e8ff;
@numbers-faded-color-light: #c0c0c0;
@numbers-faded-color-dark: #808080;
@numbers-faded-hint-color-light: #a3eeff;
@numbers-faded-hint-color-dark: #0080a0;

@numbers-selection-color: #87ceeb40;

// Scroll shadows

@scroll-shadow-alpha: 0.25;
@scroll-shadow-size: 0.5em;

// Size grid

@size-grid-active-color-light: #87ceeb;
@size-grid-active-color-dark: #87ceeb;
@size-grid-bg-color-light: white;
@size-grid-bg-color-dark: #303030;
@size-grid-border-color-light: #d0d0d0;
@size-grid-border-color-dark: #707070;

@size-grid-cell-width: 2em;
@size-grid-border-width: 0.1em;
@size-grid-border-radius: 1em;

// Time

@time-separator-color-light: fadeout(@text-color-light, 75%);
@time-separator-color-dark: fadeout(@text-color-dark, 50%);

// Buttons

@button-border-radius: 1.25em;
@button-height: 2.5em;

@button-color-light: black;
@button-color-dark: white;
@button-disabled-color-light: #b0b0b0;
@button-disabled-color-dark: #a0a0a0;
@button-bg-color-light: #e0e0e0;
@button-bg-color-dark: #808080;
@button-hover-bg-color-light: #c0c0c0;
@button-hover-bg-color-dark: #606060;

@button-destructive-color-light: #ff0000;
@button-destructive-color-dark: #ff8080;
@button-destructive-disabled-color-light: #ff0000;
@button-destructive-disabled-color-dark: #ff8080;
@button-destructive-bg-color-light: mix(#e0e0e0, red, 90%);
@button-destructive-bg-color-dark: mix(#808080, red, 90%);
@button-destructive-hover-bg-color-light: mix(#c0c0c0, red, 90%);
@button-destructive-hover-bg-color-dark: mix(#606060, red, 90%);

@button-group-separator-margin: 0.2em;
@button-group-separator-width: 0.05em;
@button-group-separator-color-light: #808080;
@button-group-separator-color-dark: #606060;

@button-grid-border-light: @button-group-separator-width solid
    @button-group-separator-color-light;
@button-grid-border-dark: @button-group-separator-width solid
    @button-group-separator-color-dark;

@radio-button-bg-color-light: #e0e0e0;
@radio-button-bg-color-dark: #808080;
@radio-button-hover-bg-color-light: #d0d0d0;
@radio-button-hover-bg-color-dark: #707070;
@radio-button-highlight-margin: 0.1em;
@radio-button-highlight-color-light: #b8b8b8;
@radio-button-highlight-color-dark: #585858;
@radio-button-highlight-transition: left 0.2s cubic-bezier(0.23, 1, 0.32, 1);

// Modals

@modal-bg-color-light: #80808060;
@modal-bg-color-dark: #40404080;

// Play screen

@mark-button-color-light: black;
@mark-button-color-dark: white;
@mark-button-selected-color-light: white;
@mark-button-selected-color-dark: black;
@cross-button-color-light: black;
@cross-button-color-dark: white;
@cross-button-selected-color-light: black;
@cross-button-selected-color-dark: black;

@pause-screen-info-color-light: fadeout(@text-color-light, 50%);
@pause-screen-info-color-dark: fadeout(@text-color-dark, 50%);

.theme-color-html(@var, @name) {
    @{var}: ~"@{@{name}-light}";

    @media (prefers-color-scheme: dark) {
        @{var}: ~"@{@{name}-dark}";
    }

    &.light {
        @{var}: ~"@{@{name}-light}";
    }

    &.dark {
        @{var}: ~"@{@{name}-dark}";
    }
}

.theme-color(@var, @name, @dark-enabled-class: ~"") {
    @{var}: ~"@{@{name}-light}";

    @media (prefers-color-scheme: dark) {
        html@{dark-enabled-class} & {
            @{var}: ~"@{@{name}-dark}";
        }
    }

    html.light & {
        @{var}: ~"@{@{name}-light}";
    }

    html.dark@{dark-enabled-class} & {
        @{var}: ~"@{@{name}-dark}";
    }
}
